<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editor</title>

    <link rel="stylesheet" href="../static/codemirror-5.45.0/theme/3024-night.css">
    <link rel="stylesheet" href="../static/codemirror-5.45.0/lib/codemirror.css">
    <link rel="stylesheet" href="../static/codemirror-5.45.0/theme/base16-dark.css">

    <script src="../static/codemirror-5.45.0/lib/codemirror.js"></script>
    <script src="../static/codemirror-5.45.0/mode/javascript/javascript.js"></script>
    <script src="../static/codemirror-5.45.0/mode/python/python.js"></script>
    <script src="../static/codemirror-5.45.0/mode/clike/clike.js"></script>


</head>
<body>
<!--选择脚本编码代码-->
<!--<div class="controls">-->
    <!--<input class="ck-code" type="radio" name="script_once_type" id="script_once_type1" checked> shell-->
    <!--<input class="ck-code" type="radio" name="script_once_type" id="script_once_type2"> bat-->
    <!--<input class="ck-code" type="radio" name="script_once_type" id="script_once_type3"> python-->
<!--</div>-->

<!--选择脚本风格代码-->
<!--<div class="controls">-->
    <!--<select id='select'>-->
        <!--<option>default</option>-->
        <!--<option>3024-night</option>-->
        <!--<option selected>erlang-dark</option>-->
    <!--</select>-->
<!--</div>-->

<!--textarea-->
<textarea id="script_once_code">

</textarea>
<script>
    // var myCodeMirror = CodeMirror(document.getElementById('editor'));
    var editor = CodeMirror.fromTextArea(document.getElementById("script_once_code"), { //script_once_code为你的textarea的ID号
        lineNumbers: true,//是否显示行号
        mode:"python",　//默认脚本编码
        lineWrapping:true//是否强制换行
    });
    //选择界面风格JS
    editor.setOption("theme","base16-dark"); //editor.setOption()为codeMirror提供的设置风格的方
    // var txt1=editor.getValue(); //editor.getValue()获取textarea中的值
    // editor.setOption("mode","clike");//editor.setOption()设置脚本类型
    // editor.setValue(txt1);// editor.setValue()设置textarea中的值

</script>
</body>


</html>