{% extends 'frame.html'%}
<style>
    #pro_area {float:left; width: 50%; height: 80vmin;}
    #area1{float:right ;width: 50%; height: 80vmin;}
</style>
{% block content %}

<div class="container">
    <div id = "pro_area" class="col-md-6">
        <h3>{{g.pr_id}}. {{g.title}}</h3>

        <h4>
        {% if g.pro_class=='basic' %}
        <span class="label label-info">语言基础</span>
        {% elif g.pro_class=='structure' %}
        <span class="label label-warning">数据结构</span>
        {% elif g.pro_class=='algorithm' %}
        <span class="label label-danger">算法进阶</span>
        {% endif %}

        {% if g.pro_level=='易' %}
        <span class="label label-info">易</span>
        {% elif g.pro_level=='中' %}
        <span class="label label-warning">中</span>
        {% elif g.pro_level=='难' %}
        <span class="label label-danger">难</span>
        {% endif %}

        <span class="label label-primary">{{ g.tag }}</span>
        </h4>

        <div class="panel panel-success">
            <div class="panel-heading">
                题目描述
            </div>
            <div class="panel-body">
                {% if g.img_url != None %}
                    <img src="{{ g.img_url }}">
                {% endif %}
                {{ g.describe }}
            </div>
        </div>
    </div>

     <div id ="code_area" class="col-md-6">
        <form method="post">
            <div id="submit_bar" class="container">
                <div class="col-md-4">
                <select id="submit_select" class="form-control" name = 'language' onchange="change_mode(this.value)">
                    <option value="c/c++">c/c++</option>
                    <option value="python2">python2</option>
                    <option value="python3">python3</option>
                </select>
                </div>
                <div class="col-md-3">
                <input id="pro_submit" class="btn btn-primary" type="submit" value="运行">
                </div>
            </div>
            <textarea id="editor" name="code" >//此处输入代码</textarea>
        </form>
     </div>
</div>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"),
        {
            lineNumbers: true,//是否显示行号
            mode: "text/x-c++src",　//默认脚本编码
            lineWrapping: false //是否强制换行)
        });
    editor.setOption("theme","idea"); //editor.setOption()为codeMirror提供的设置风格的方
    function change_mode(x) {
        if (x=='c/c++'){
            editor.setOption("mode","text/x-c++src");
        }
        else {
            editor.setOption("mode","python");
        }
    }
    // editor.setOption("mode","clike");//editor.setOption()设置脚本类型
</script>

{% endblock content%}

