{% extends 'frame.html' %}

{%  block header %}
<div class="container theme-showcase" role="main">
    <form  class="form_inline" method="post" action="{{ url_for('admin.showlist') }}">
        <select id="select" name="table" class="form-control">
            <option value="oj_problem">搜题目</option>
            <option value="oj_user">搜用户</option>
        </select>
        <input type="text" class="form-control" id="search_content" name="search_content" placeholder="用户或题目检索">
        <input type="submit" id="search_button" class="btn btn-info" value="搜索">
    </form>
</div>
{% endblock header%}

{% block content %}<div class="col-md-6" align="center" id="pro_list">
    <table class="table table-striped">
        <tr>
            <td>编号</td>
            <td>题目</td>
            <td>分类</td>
            <td>难度</td>
            <td>标签</td>
            <td>测评链接</td>
            <td><a href="{{url_for('admin.create_pro')}}">新建题目</a></td>
            <!--<td><input type="button" value="新建题目" action="/admin/create_pro.html"></td>-->
        </tr>
            {% for entry in show_entries %}
            <tr>
            <td>{{ entry['pr_id'] }}</td>
            <td>{{ entry['title'] }}</td>
            <td>{{ entry['class'] }}</td>
            <td>{{ entry['pro_level'] }}</td>
            <td>{{ entry['tag'] }}</td>
            <td><a href="{{ url_for('user_func.online_judge',pr_id = entry['pr_id']) }}">进入测评</a></td>
            <td><a class="" href="{{ url_for('admin.delete_pro',pr_id= entry['pr_id']) }}">删除</a> </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock content %}